<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>SoreBiblioteca</title>
</head>
<body>
    <nav class="nav-principal">
        <a class="nav-icon" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <div class="menu-desplegable">
            <a asp-action="LibrosPage">Libros</a>
            <a href="#">Prestamos</a>
            <a href="#">Proveedores</a>
        </div>
    </nav>
    <div class="sub-div">
        <label>Este sistema se encuentra en fase beta <b>contactame : 809-452-9179</b></label>
    </div>
    <img class="imagen-body" src="~/css/bibliotecaimg.jpg" alt="biblioteca imagen">
</body>
</html>
