* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav-principal {
    position: relative;
    background-color: #3498DB;
    height: 30px;
}

.nav-principal .nav-icon{
    line-height: 2;
    margin-left: 10px;
}

.nav-principal .nav-icon i{
    color: #fff;
}

.menu-desplegable {
    display: none; 
    position: absolute;
    top: 100%;
    width: 12%;
    height: 500px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
}

.menu-desplegable a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.menu-desplegable a:hover {
    color: #3498DB;
}

.nav-principal:hover .menu-desplegable {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
